<!--this html can be used as template for alert or confirm also the html can be customization -->

<div class="modal-header"> // modal头部 。body  footer 类推
    <h3 class="modal-title">html5jq模态框</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{item}}</a> //显示当前点击的item
        </li>
        当前选择： <b>{{selected.item}}</b>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
        确认
    </button>
    <button class="btn btn-warning" ng-click="cancel()">退出</button>
</div>

<div class="share-container">
    <ul class="share">
        <li>
            <img src="" alt="" onclick="shareFunction(0)">微信
        </li>
        <li>
            <img src="" alt="" onclick="shareFunction(1)">朋友圈
        </li>
        <li>
            <img src="" alt="" onclick="shareFunction(2)">QQ
        </li>
    </ul>
    <a href="" ng-click="cancel()">取消</a>
</div>
